<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alumno.css">
    <script src="alumno.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div class="clase">
            <h2>Clase de Matemáticas</h2>
            <p><strong>Código de Clase:</strong> <%= claseMatematicas.codigo %></p>
            <p><strong>Horario:</strong> <%= claseMatematicas.horario %></p>
            <p><strong>Créditos:</strong> <%= claseMatematicas.creditos %></p>
        </div>

        <div class="clase">
            <h2>Clase de Historia</h2>
            <p><strong>Código de Clase:</strong> <%= claseHistoria.codigo %></p>
            <p><strong>Horario:</strong> <%= claseHistoria.horario %></p>
            <p><strong>Créditos:</strong> <%= claseHistoria.creditos %></p>
        </div>
    </div>
</body>
</html>